version: "3.9"

services:
  db:
    image: postgres:15
    restart: unless-stopped
    environment:
      POSTGRES_DB: jacommi
      POSTGRES_USER: jacommi
      POSTGRES_PASSWORD: jacommi-password
    volumes:
      - pgdata:/var/lib/postgresql/data

  web:
    build: .
    container_name: jacommi-web
    ports:
      - "8001:8000"                 # 로컬에서는 8001 → 8000
    env_file:
      - .env.docker
    environment:
      DJANGO_DEBUG: "False"
    restart: unless-stopped
    volumes:
      - ./firebase.json:/app/firebase.json

  prometheus:
    image: prom/prometheus:v2.54.0
    container_name: jacommi-prometheus
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml
      - prometheus_data:/prometheus
    # 로컬에서 직접 브라우저로 접속할 수 있게 개방
    ports:
      - "9090:9090"                 # http://localhost:9090
    restart: unless-stopped

  grafana:
    image: grafana/grafana:11.1.0
    container_name: jacommi-grafana
    depends_on:
      - prometheus
    ports:
      - "3000:3000"                 # http://localhost:3000
    volumes:
      - grafana_data:/var/lib/grafana
    restart: unless-stopped

volumes:
  pgdata:
    driver: local
  prometheus_data:
    driver: local
  grafana_data:
    driver: local